<p>
<strong>Rock-paper-scissors</strong> is a hand game usually played by two people, where players simultaneously form one of three shapes with an outstretched hand. The "rock" beats scissors, the "scissors" beat paper and the "paper" beats rock; if both players throw the same shape, the game is tied. 
</p>
<p>Enter name and press play:</p>

<form action="/play" method="POST">
<p>
<input id="register-player" type="text" name="name" placeholder="Enter Name">
</p>
<p>
	<button id="register-button"><strong>Play</strong></button> 
</p>
</form>